/* Navigation Bar */
nav {
  line-height: 17px;
}

#category-name-effect,
#category-name-effect2 {
  display: none;
}

#dmenu {
  z-index: 99999999;
  margin-top: 10px;
}

.dropdown:hover,
#category-name-effect {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect {
  display: contents !important;
}

.dropdown:hover #category-name-effect,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.dropdown:hover,
#category-name-effect2 {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown:hover #category-name-effect2,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

.dropdown-name {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "poppins";
}

.dropdown-name:hover {
  color: #ebc013 !important;
}

@media (min-width: 990px) and (max-width: 1274px) {
  .dropdown-name {
    font-size: 10px !important;
  }
}

.dropdown-menu-list {
  display: flex;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
}

.drop-item-name {
  color: #000 !important;
}

.drop-item-name::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.drop-item-name:hover::after {
  width: 65%;
}

.drop-category-heading {
  color: #ebc013;
  font-size: 20px;
  font-weight: 600;
}

.active {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0 !important;
}

.dropdown-main-items-list {
  flex: 4;
  /* font-family: "Open Sans", sans-serif; */
}

.dropdown-main-image-list {
  flex: 0.7;
}

.dropdown-main-image-list img {
  width: 200px;
  height: 150px;
}

@media (max-width: 400px) {
  .dropdown-main-image-list img {
    width: 150px !important;
    height: 100px !important;
  }

  .active {
    font-size: 15px !important;
  }
}

.item-image {
  padding-bottom: 10px;
}

.location-dropdown {
  display: flex;
  align-items: center;
  background: transparent;
  list-style-type: none;
  font-family: "Times New Roman";
  border: none;
  font-size: 20px;
  color: rgb(245, 239, 239);
  outline: none;
}

.marker-maps {
  font-size: 27px;
  color: gold;
}

.location-dropdown p {
  margin: 0 !important;
}

.location-dropdown:hover {
  color: #ebc013;
  cursor: pointer;
  font-weight: 600;
}

.sign-in-button {
  background: none;
  border: none;
}

.sign-in-button i {
  color: #ebc013;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.sign-in-button i:hover {
  color: #fff;
  background-color: #ebc013;
  cursor: pointer;
  transition: 0.5s;
}

.navbar {
  z-index: 999;
  background-color: #000000ab;
}

@media (max-width: 992px) {
  .navbar {
    background: #514e6e;
  }

  .nav-image {
    width: 25%;
  }
}

@media (min-width: 993px) {
  .nav-image {
    width: 200px;
    margin: -10px 0px -12px;
  }
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 45px;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .nav-link span {
    color: #fff !important;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

@media (min-width: 595px) and (max-width: 992px) {
  .image-home {
    width: 90%;
  }
}

@media (max-width: 594px) {
  .image-home {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .image-home {
    flex: 2;
  }

  .navbar-collapse {
    flex: 2;
  }

  .navbar {
    height: 4rem;
  }
}

/* Location Modal */
.model-head {
  border-bottom: none !important;
}

.model-head h2 {
  font-size: 1.5rem;
}

.model-search-box {
  display: flex;
  align-items: center;
}

.model-search-box h3 {
  font-size: 1.1rem;
}

.model-search-box input {
  width: 100%;
  padding: 7px;
  margin: 0px 0px 0px 5px;
}

.model-search-box i {
  border: 1px solid black;
  padding: 10.1px;
  font-size: 20px;
  margin-left: -0.5px;
  cursor: pointer;
}

.model-close-button span {
  font-size: 40px;
}

.country-flags {
  margin: 20px 0px;
}

.country-flags h2 {
  color: #595959;
  font-size: 25px;
  text-align: center;
  margin: 5px 0px;
}

.flags-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.flag-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.flag-main img {
  cursor: pointer;
  width: 100px;
  height: 60px;
  margin: 0px 8px;
}

.flag-main img:hover {
  border: 1px solid black;
}

/* Blogs */
.blogs-main {
  display: flex;
  padding: 1px 2rem;

}

.Heading-Bg img {
  height: 300px;
}

@media(max-width: 824px) {
  .blogs-main {
    padding: 0px 2rem !important;
  }
}

/* OVERLAPE */
.div {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 10%;
  text-align: center;
  color: gold;
}

.blogs span {
  font-size: 5vw;
  font-weight: 700;
  text-shadow: -0.08em 0.03em 0.12em rgba(252, 200, 31, 0.9);
  margin-left: 18rem;
}

.blogs span:not(:first-child) {
  margin-left: -0.23em;
}


.blogs h1 {
  color: #ebc013;
  padding: 0px 1rem;
  border-bottom: 1.5px solid #595959;
  font-size: 50px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;

}

.blog-block-one,
.blog-block-two,
.blog-block-three,
.blog-block-four {
  display: flex;
  flex-direction: column;
}

.blogs-main a:hover {
  text-decoration: none;
}

.blogs-main h2 {
  color: #000;
  margin-top: -1px;
  font-size: 2rem;
  line-height: 40px;
  font-family: "poppins";
  font-weight: 600;
}

.blogs-main p {
  color: #000;
  margin: 0px 0px 0.5rem;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: justify;
}

.blogs-main span {
  color: gray;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.blogs-main img {
  width: 270px;
  height: auto;
}

.blog-block-one-first .img1 {
  width: 200px;

  float: right;
}

.blog-block-one-first .img2 {
  width: 200px;

  float: right;
}

.blog-block-one-second img {
  height: 22rem;
}

.blog-block-one-first,
.blog-block-one-second,
.blog-block-one-third {
  margin-bottom: 1.5rem;
  width: 90%;
}

/* .blog-block-Ad img{
  width: 150px;
  height: auto;
  padding-left: 2px;
  margin-left: 70px;
}
.blog-block-Ad p{
  color: #000;
  margin: 0px 70px 1.5rem;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
} */




/* Footer */
.footer-main {
  border-top: 7px solid #ffcc00;
  background: url("../assets/images/contactUs_footer_bg.webp");
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
}

.footer-main h2 {
  color: #ebc013;
  font-family: "Lobster", cursive;
  margin: 5px 0px 10px;
  text-align: center;
}

@media (min-width: 421px) {
  .footer-main h2 {
    font-size: 45px;
  }
}

@media (max-width: 420px) {
  .footer-main h2 {
    font-size: 2.4rem;
  }
}

.footer-upper-part {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
}

@media (max-width: 510px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

@media (min-width: 511px) and (max-width: 768px) {
  .footer-host-events {
    padding: 40px 20px;
  }
}

@media (min-width: 769px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

.footer-host-events {
  display: flex;
  flex-direction: column;
}

.footer-host-events i {
  font-size: 5rem;
  color: #ebc013ad;
}

.footer-host-events h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.footer-host-events li {
  list-style-type: none;
  margin-bottom: 7px;
}

.footer-host-events a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.footer-host-events li a {
  color: #fff !important;
  font-size: 16px;
}

.footer-upper-host-icons {
  display: flex;
}

.footer-upper-host-icons li {
  border-radius: 50%;
  /* background: #ebc013; */
  padding: 8px 12px;
  margin: 0px 10px 0px 0px;
}

.footer-upper-host-icons i {
  color: #fff;
  font-size: 29px;
}

.footer-mid-part {
  border-top: 1px solid grey;
}

.footer-mid-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.marquee {
  background-color: transparent;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  height: auto;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: 1s scrolling;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  flex-shrink: 0;
  white-space: nowrap;
}

.marquee-content img {
  break-before: always;
  width: 40%;
}

.marquee-content p {
  width: 100%;
  position: relative;
  right: 50%;
  text-align: center;
  padding-top: 86px;
  color: #ebc013;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.marquee-content a:hover {
  color: #ebc013;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@media (max-width: 600px) {
  .marquee-content li {
    width: 50vw;
  }

  .marquee-content p {
    padding-top: 120px;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

.marquee::before,
.marquee::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::before {
  left: 0;
}

.marquee::after {
  right: 0;
}

@media (max-width: 600px) {
  .marquee::before {
    left: 0;
  }

  .marquee::after {
    right: 0;
  }
}

.footer-lower-part {
  border-top: 1px solid grey;
}

.footer-lower-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 500px) {
  .footer-contact {
    flex-direction: row;
  }
}

@media (max-width: 499px) {
  .footer-contact {
    flex-direction: column;
  }

  .footer-lower-address {
    margin-bottom: 5px;
  }

  .footer-phone {
    margin-bottom: 5px;
  }
}

.footer-lower-content {
  padding: 20px 50px;
  display: flex;
}

@media (min-width: 770px) {
  .footer-lower-content {
    flex-direction: row;
  }
}

@media (max-width: 769px) {
  .footer-lower-content {
    flex-direction: column;
  }
}

.footer-lower-content h4 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-lower-content h5 {
  color: #fff;
  font-size: 18px;
}

.footer-lower-content p {
  color: #fff;
  font-size: 16px;
}

.footer-lower-address {
  display: grid;
}

.footer-corporate {
  margin-bottom: 10px;
}

.footer-corporate h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-corporate p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-registered h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-registered p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-contact {
  display: grid;
}

.footer-phone h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-phone p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-email h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-email p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-one {
  flex: 2;
}

.footer-lower-two {
  flex: 1;
}

@media (min-width: 770px) {
  .footer-lower-two {
    margin-top: 0px;
  }
}

@media (max-width: 769px) {
  .footer-lower-two {
    margin-top: 20px;
  }
}

.footer-lower-two img {
  width: 100%;
}

.footer-last-part {
  padding: 40px 50px;
  border-top: 1px solid grey;
}

.footer-last-main h5 {
  color: #fff;
  padding: 0px 0px 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer-last-events {
  display: flex;
  flex-wrap: wrap;
}

.footer-last-events p {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.footer {
  line-height: 1.1;
}

.blog-block-Ad {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
}

.blog-block-Ad {
  width: 200px;
  height: 300px;
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
  margin: 0 auto;
  /* position: relative; */
  box-sizing: border-box;

}

.blog-block-Ad_container {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-orient: column;
  -moz-box-orient: column;
  -webkit-box-direction: column;
  -moz-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;

}

.blog-block-Ad_container_media {
  width: 100%;
  max-width: 100%;
  display: block;

}

.blog-block-Ad_media_link {
  border: none !important;
  box-shadow: none !important;
  display: block !important;
  height: auto !important;
  margin: 0 auto !important;
  width: initial !important;
  max-width: 100% !important;

}



/* slider */
.carousel-inner {

  width: 96vw;
  margin-top: 5vh;
  margin-bottom: 6vh;
  position: relative;
  height: 20vh;
  margin-left: 1rem;
  margin-right: 1rem;
  animation-delay: 1000ms;
  transition-delay: 0ms;
  box-shadow: 0px 8px 10px 8px grey;
  border-radius: 0px 20px 0px 20px;

}

.carousel-control-prev {
  color: white;
  font-size: 40px;
  padding: 10px;
  margin-top: 2.5rem;
  margin-left: -1rem;
}

.carousel-control-next {
  color: white;
  font-size: 40px;
  padding: 10px;
  margin-top: 2.5rem;
  margin-left: -1rem;
}

hr {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  background-color: #3b3b3a;
}




/* body {
  background: rgb(214, 187, 161);
  }
  h1, h2, h3 {
  font-family: georgia, serif;
  }
  header h3.ticker {
  margin: 0;
  color: rgb(143, 141, 141);
  font-size: 32px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #bbb;
  } */

/* header h3.ticker span {
  color: rgb(255, 112, 0);
  } */

h1.headline {
  font-weight: normal;
  font-size: 2px;
  margin: 0 0 58px 0;
}

.slavery h1 {
  text-align: left;
  font-weight: normal;
  font-size: 4px;
  margin: 0 0 1em 0;
}

h2.subhead {
  font-weight: bold;
  font-size: 2px;
}

*/ .wrapper {
  background: rgb(247, 246, 240);
  position: relative;
  margin: 0 auto;
  width: 1200px;

  padding: 10px 30px;
}

header {}

div.break {
  clear: both;
}

.columns1 {
  margin: 0 10px;
  height: 10px;
  width: 264px;
  float: left;

}

.columns2 {
  width: 544px;
  float: left;
  padding-right: 6px;
  border-right: 1px solid #BEB8B8;
  margin-right: 6px;
  position: relative;
  margin-left: 3rem;
  margin-top: 4rem;

}

article p {
  margin: 0.25em 0;
  line-height: 16px;
}

article.cols2 {
  -moz-column-count: 2;
  /* Firefox */
  -webkit-column-count: 2;
  /* Safari and Chrome */
  column-count: 2;
}

.byline {
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 6px 0;
  font-weight: bold;
  padding-bottom: 20px;
}

article.cols4 {
  -moz-column-count: 4;
  /* Firefox */
  -webkit-column-count: 4;
  /* Safari and Chrome */
  column-count: 4;
  -moz-column-rule-color: #ccc;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 1px;
  -webkit-column-rule-color: #ccc;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px;
}

.cols4 figure img {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cols4 figure {
  width: 100%;
  overflow: visible;
}

.cols4 figcaption {
  font-weight: normal;
  font-size: 19px;
  font-family: georgia;
}

.columns4 {
  width: 962px;
  float: left;
  padding-right: 6px;
  border-right: 1px solid #BEB8B8;
  margin-right: 6px;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.columns {}

.columns div:first-child {
  margin: 0 10px 0 0;
}


.columns div:last-child {
  margin: 0 0 0 10px;
}

div.teasers {
  width: 460px;
  background: rgb(172, 162, 122);
  height: 221px;
  position: relative;
  margin: 50em 0;
  z-index: 2;
  float: left;
  margin: 2rem 5px;
}

div.teasers h1 {
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 22px;
}

div.teasers h2 {
  margin: -7px 0 0 0;
  padding: 5px;
  font-weight: normal;
  font-size: 22px;
}


header header h1.title {
  color: goldenrod;
  text-transform: capitalize;
  margin: 60px 0 0 0;
  padding: 0;
  font-size: 70px;
  text-align: center;

}

header header h1.title span {
  color: #98BCDB;
  margin-right: -0.2em;
}

header header h2.website {
  margin: -35px 0 48px 0;
  color: #98BCDB;
}

header header {
  text-align: right;
}

div.borgen {
  margin: 0 0 0 5px;
}

div.student {
  margin: 2rem 11px 0 2rem;
}

div.teasers figure {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0px;
  width: 230px;
  overflow: hidden;
}

div.teasers figure img {
  height: 250px;
  display: block;
}

div.teasers figure.background {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 126px;
}

div.teasers figure.background img {

  position: absolute;
  top: -41px;
}

div.pop.teasers figure {
  width: 458px;
  height: 160px;
}

div.pop.teasers figure img {
  height: auto;
}

div.student.teasers figure.background img {
  width: 100%;
}

.published {
  float: left;
  display: block;
  margin: 7px 0 0 0;
  width: 155px;
  font-family: georgia, serif;
}

.published p {
  margin: 4px 0 10px 0;
}

.published time {
  color: #004A83;

}

/* div.teaser-block {
  border-bottom: 2px solid black;
  padding-bottom: 6px;
  margin-bottom: 6px;
} */

figure {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

figure img {
  overflow: hidden;
}

figcaption {
  position: relative;
  font-weight: bold;
  font-size: 15px;
}

.columns2.van-dyck h3 {
  position: absolute;
  right: 0;
  z-index: 2;
  top: -67px;
  background: #f1f1f1;
  padding: 6px;
  font-size: 24px;
  font-weight: normal;
}

.just {
  text-align: justify;
}

.columns1.last {
  margin: 0 0 0 20px;
  width: 275px;
}

.columns2.van-dyck h2 {
  background: #98BCDB;
  color: #004A83;
  font-size: 28px;
  margin: 0;
  padding: 2px 0 20px 6px;
}

.columns2.van-dyck h2 span {
  color: white;
}

.cont {
  border-top: 1px solid #BEB8B8;
  margin: 10px 0;
  padding: 4px 0;
  font-weight: bold;

}

div.foot {
  border-top: 3px solid black;
  margin-top: 1em;
}

.firstcharacter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

img.lastad {
  width: 197px;
  margin-left: 32px;
}

.foot h1{
  margin-left: 2rem;
}