/* Navigation Bar */
nav {
    line-height: 17px;
 
  }
  
  #navbar {
    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 100%;
    
  }
  #category-name-effect,
  #category-name-effect2 {
    display: none;
    
  }
  
  #dmenu {
    z-index: 99999999;
    margin-top: 10px;
    
  }
  
  .dropdown:hover,
  #category-name-effect {
    color: #ebc013 !important;
    
  }
  
  .dropdown:hover #category-name-effect {
    display: contents !important;
    
  }
  
  .dropdown-main-items-list:hover #category-name-effect {
    display: contents !important;
    
  }
  
  .dropdown:hover #category-name-effect,
  .dropdown:hover .dropdown-name {
    color: #ebc013 !important;
    
  }
  
  .dropdown:hover,
  #category-name-effect2 {
    color: #ebc013 !important;
    
  }
  
  .dropdown:hover #category-name-effect2 {
    display: contents !important;
    font-size: 1rem;
    
  }
  
  .dropdown-main-items-list:hover #category-name-effect2 {
    display: contents !important;
  }
  
  .dropdown:hover #category-name-effect2,
  .dropdown:hover .dropdown-name {
    color: #ebc013 !important;
    
  }
  
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
    
  }
  
  
  .dropdown-name {
    color: rgb(252, 249, 249) !important;
    font-size: 16px;
    font-weight: 600;
    font-family: "poppins";
   
  }
  
  .dropdown-name:hover {
    color: #ebc013 !important;
    border-top: 0.5px solid #e3bd2d;
      border-left: 0.5px solid #e3bd2d;
  }
  
  @media (min-width: 990px) and (max-width: 1274px) {
    .dropdown-name {
      font-size: 10px !important;
    }
  }
  
  .dropdown-menu-list {
    display: flex;
    
  }
  
  
  .navbar .dropdown-menu {
    border: none;
    background-color: #fff !important;
  
  }
  
  .drop-item-name {
    color: #000 !important;
    
  }
  
  .drop-item-name::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s;
    
  }
  
  .drop-item-name:hover::after {
    width: 65%;
  }
  
  .drop-category-heading {
    color: #ebc013;
    font-size: 20px;
    font-weight: 600;
  }
  
  .active {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0 !important;
    font-family: poppins;
  }
  
  .dropdown-main-items-list {
    flex: 4;
    font-family: "Open Sans", sans-serif;
  }
  
  .dropdown-main-image-list {
    flex: 0.7;
  }
  
  .dropdown-main-image-list img {
    width: 200px;
    height: 150px;
  }
  
  @media (max-width: 400px) {
    .dropdown-main-image-list img {
      width: 150px !important;
      height: 100px !important;
    }
  
    .active {
      font-size: 15px !important;
    }
  }
  
  .item-image {
    padding-bottom: 10px;
  }
  
  .location-dropdown {
    display: flex;
    align-items: center;
    background: transparent;
    list-style-type: none;
    font-family: "Times New Roman";
    border: none;
    font-size: 20px;
    color: rgb(245, 239, 239);
    outline: none;
  }
  
  .location-dropdown p {
    margin: 0 !important;
    padding-right: 0.5em;
  }
  
  .location-dropdown:hover {
    color: #ebc013;
    cursor: pointer;
    font-weight: 600;
  }
  
  .sign-in-button {
    background: none;
    border: none;
  }
  
  .sign-in-button i {
    color: #ebc013;
    padding: 10px;
    border-radius: 50%;
    transition: .5s;
  }
  
  .sign-in-button i:hover {
    color: #fff;
    background-color: #ebc013;
    cursor: pointer;
    transition: .5s;
  }
  
  .navbar {
    z-index: 999;
    background-color: #141414;
  
    
  }
  


  
  @media (max-width: 992px) {
    .navbar {
      background: #514e6e;
    }
  
    .nav-image {
      width: 25%;
    }
  }
  
  @media (min-width: 993px) {
    .nav-image {
      width: 200px;
      margin: -10px -30px -12px;
    }
  }
  
  /* breakpoint and up - mega dropdown styles */
  @media screen and (min-width: 992px) {
  
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
      padding-top: 0px;
      padding-bottom: 0px;
  
    }
  
    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
      padding: 0.5rem 0rem;
      margin: 0 0.25rem;
    }
  
    /* makes the dropdown full width  */
    .navbar .dropdown {
      position: static;
  
    }
  
    .navbar .dropdown-menu {
      width: 100%;
      left: 0;
      right: 0;
      /*  height of nav-item  */
      top: 45px;
  
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
    }
  
    .nav-link span {
      color: #fff !important;
    }
  
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear;
    }
  
    .navbar .dropdown-menu {
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-color: #fff;
    }
  }
  
  @media (min-width:595px) and (max-width: 992px) {
    .image-home {
      width: 100%;
    }
  }
  
  @media (max-width: 594px) {
    .image-home {
      width: 80%;
    }
  }
  
  @media(min-width: 992px) {
    .image-home {
      flex: 18;
    }
  
    .navbar-collapse {
      flex: 2;
    }
  
    .navbar {
      height: 4rem;
    }
  }
  
  
  /* Location Modal */
  .model-head {
    border-bottom: none !important;
  }
  
  .model-head h2 {
    font-size: 1.5rem;
  }
  
  .model-search-box {
    display: flex;
    align-items: center;
  }
  
  .model-search-box h3 {
    font-size: 1.1rem;
  }
  
  .model-search-box input {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 0px 5px;
  }
  
  .model-search-box i {
    border: 1px solid black;
    padding: 10.1px;
    font-size: 20px;
    margin-left: -0.5px;
    cursor: pointer;
  }
  
  .model-close-button span {
    font-size: 40px;
  }
  
  .country-flags {
    margin: 20px 0px;
  }
  
  .country-flags h2 {
    color: #595959;
    font-size: 25px;
    text-align: center;
    margin: 5px 0px;
  }
  
  .flags-first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }
  
  .flag-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .flag-main img {
    cursor: pointer;
    width: 100px;
    height: 60px;
    margin: 0px 8px;
  }
  
  .flag-main img:hover {
    border: 1px solid black;
  }


  .other-blogs-one img{
    margin-left: 2rem;
    margin-top: 4rem;
    height: 50%;
  
  }
  .marker-maps:hover {
    font-size: 25px;
    color: #3f3d56;
    transition: 0.5s;
}
.marker-maps {
  font-size: 27px;
  color: gold;
}


/* blogs */
html {
  color: #252525;
}
main {
  display: block;
position: relative;
left: 50%;
transform: translate(-50%, 0);
max-width: 1280px;
padding: 0 18px;
box-sizing: border-box;
display: flex;
justify-content:center;	
}
section {
display: flex;
flex-wrap: wrap;
justify-content:center;
/* overflow: hidden; */
}
article {
font-family: 'Open Sans', sans-serif;
margin-left: 9rem;
margin-right: 9rem;
}
h1 {
font-family: 'Alfa Slab One', cursive;
text-align: center;
letter-spacing: 1.5px;
margin-top: 4rem;
color: #e3bd2d;
}
/* .h1-divider {
background-color: #252525;
margin-bottom: 37px;
} */
article h3 {
font-weight: 800;
margin: 0;
line-height: 27px;
}
section p {
font-family: 'Open Sans', sans-serif;
color: #252525;
line-height: 25px;
margin-bottom: 40px;
text-align: justify;

}
section .intro {
font-weight: 600;
font-size: x-large;
margin-top: 2rem;
    font-style: oblique;
    color: darkgoldenrod;

}
article p {
margin-top: 0;
margin-bottom: 50px;
}
article h3,
section p {
font-size: 16px;
}
.placeHolder_img {
background-image: url('../assets/images/blog_1.webp');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}


/*--------------------------

   Media Queries 

--------------------------*/
/*    Mobile    */

@media only screen and (min-width: 320px) {
  /* 320px */
h1 {
  font-size: 42px;
  line-height: 44px;
}
.h1-divider {
  width: 222px;
  height: 19px;
}
.placeHolder_img {
  height: 320px;
  margin: 0 0 50px 0;
}

}

@media only screen and (min-width: 375px) {
  /* 375 */

}

@media only screen and (min-width: 414px) {
  /* 414 */

}

@media only screen and (min-width: 568px) {
  /* 568 */

}

@media only screen and (min-width: 667px) {
  /* 667px */
article p {
  column-count: 2;
  column-gap: 42px;
}

}

@media only screen and (min-width: 736px) {
  /* 736px */

}

/*Tablet*/

@media only screen and (min-width: 768px) {
  /* 768 */
main {
  padding: 0 40px;
}
h1 {
  font-size: 53.1px;
  line-height: 0.98;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}
.h1-divider {
  width: 339px;
  height: 24px;
  margin-bottom: 53px;
}
article p {
  margin-bottom: 40px;
}
.placeHolder_img {
  height: 344px;
  margin: 0 0 40px 0;
}

}

/*    Desktop    */

@media only screen and (min-width: 1024px) {
  /* 1024 */
section {
  width: 820px;
}
h1 {
  font-size: 66.4px;
  line-height: 0.95;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
}
.h1-divider {
  width: 486px;
  margin-bottom: 38px;
}
.placeHolder_img {
  height: 442px;
}

}

@media only screen and (min-width: 1140px) {
  /* 1140 */
section {
  width: 1035px;
}
h1 {
  font-size: 72px;
  line-height: 0.98;
}
.h1-divider {
  width: 480px;
  margin-bottom: 45px;
}
.placeHolder_img {
  height: 432px;
}

}

@media only screen and (min-width: 1440px) {
  /* 1440 */
}

@media only screen and (min-width: 1662px) {
  /* 1662px */
}

/* Blog end */

/* Banner */
.gqBECX {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: unset;
}
.cWbeuJ {
  display: flex;
  flex-direction: column;
}
.lmknRz {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}



  /* Footer */
.footer-main {
    border-top: 7px solid #ffcc00;
    background: url("../assets/images/index_footer_bg.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Open Sans", sans-serif;
  }
  
  .footer-main h2 {
    color: #ebc013;
    font-family: "Lobster", cursive;
    margin: 5px 0px 10px;
    text-align: center;
  }
  
  @media (min-width: 421px) {
    .footer-main h2 {
      font-size: 45px;
    }
  }
  
  @media (max-width: 420px) {
    .footer-main h2 {
      font-size: 2.4rem;
    }
  }
  
  .footer-upper-part {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid grey;
  }
  
  @media (max-width: 510px) {
    .footer-host-events {
      padding: 40px 44px;
    }
  }
  
  @media (min-width: 511px) and (max-width: 768px) {
    .footer-host-events {
      padding: 40px 20px;
    }
  }
  
  @media (min-width: 769px) {
    .footer-host-events {
      padding: 40px 44px;
    }
  }
  
  .footer-host-events {
    display: flex;
    flex-direction: column;
  }
  
  .footer-host-events i {
    font-size: 5rem;
    color: #ebc013ad;
  }
  
  .footer-host-events h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 0px 10px;
  }
  
  .footer-host-events li {
    list-style-type: none;
    margin-bottom: 7px;
  }
  
  .footer-host-events a:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
  
  .footer-host-events li a {
    color: #fff !important;
    font-size: 16px;
  }
  
  .footer-upper-host-icons {
    display: flex;
  }
  
  .footer-upper-host-icons li {
    border-radius: 50%;
    /* background: #ebc013; */
    padding: 8px 12px;
    margin: 0px 10px 0px 0px;
  }
  
  .footer-upper-host-icons i {
    color: #fff;
    font-size: 29px;
  }
  
  .footer-upper-host-icons .iconfacebook li:hover {
    background-color: #0382ed;
  }
  
  .footer-upper-host-icons .icontwitter li:hover {
    background-color: #55acef;
  }
  
  .footer-upper-host-icons .iconlinkedin li:hover {
    background-color: #0077b7;
  }
  
  .footer-upper-host-icons .iconinstagram li:hover {
    background-color: #fe096e;
  }
  
  .footer-mid-part {
    border-top: 1px solid grey;
  }
  
  .footer-mid-part h3 {
    color: #ebc013;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0px;
    text-align: center;
  }
  
  .marquee {
    background-color: transparent;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    height: revert-layer;
  }
  
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: 1s scrolling;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-shrink: 0;
    white-space: nowrap;
  }
  
  .marquee-content img {
    break-before: always;
    width: 40%;
  }
  
  .marquee-content p {
    width: 100%;
    position: relative;
    right: 50%;
    text-align: center;
    padding-top: 86px;
    color: #ebc013;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
  }
  
  .marquee-content a:hover {
    color: #ebc013;
  }
  
  .marquee-content:hover {
    animation-play-state: paused;
  }
  
  @media (max-width: 600px) {
    .marquee-content li {
      width: 50vw;
    }
  
    .marquee-content p {
      padding-top: 120px;
    }
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  .marquee::before,
  .marquee::after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  
  .marquee::before {
    left: 0;
  }
  
  .marquee::after {
    right: 0;
  }
  
  @media (max-width: 600px) {
    .marquee::before {
      left: 0;
    }
  
    .marquee::after {
      right: 0;
    }
  }
  
  .footer-lower-part {
    border-top: 1px solid grey;
  }
  
  .footer-lower-part h3 {
    color: #ebc013;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0px;
    text-align: center;
  }
  
  .footer-contact {
    display: flex;
    justify-content: space-around;
  }
  
  @media (min-width: 500px) {
    .footer-contact {
      flex-direction: row;
    }
  }
  
  @media (max-width: 499px) {
    .footer-contact {
      flex-direction: column;
    }
  
    .footer-lower-address {
      margin-bottom: 5px;
    }
  
    .footer-phone {
      margin-bottom: 5px;
    }
  }
  
  .footer-lower-content {
    padding: 20px 50px;
    display: flex;
  }
  
  @media (min-width: 770px) {
    .footer-lower-content {
      flex-direction: row;
    }
  }
  
  @media (max-width: 769px) {
    .footer-lower-content {
      flex-direction: column;
    }
  }
  
  .footer-lower-content h4 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .footer-lower-content h5 {
    color: #fff;
    font-size: 18px;
  }
  
  .footer-lower-content p {
    color: #fff;
    font-size: 16px;
  }
  
  .footer-lower-address {
    display: grid;
  }
  
  .footer-corporate {
    margin-bottom: 10px;
  }
  
  .footer-corporate h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .footer-corporate p {
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .footer-registered h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .footer-registered p {
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .footer-lower-contact {
    display: grid;
  }
  
  .footer-phone h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .footer-phone p {
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .footer-email h5 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .footer-email p {
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .footer-lower-one {
    flex: 2;
  }
  
  .footer-lower-two {
    flex: 1;
  }
  
  @media (min-width: 770px) {
    .footer-lower-two {
      margin-top: 0px;
    }
  }
  
  @media (max-width: 769px) {
    .footer-lower-two {
      margin-top: 20px;
    }
  }
  
  .footer-lower-two img {
    width: 100%;
  }
  
  .footer-last-part {
    padding: 40px 50px;
    border-top: 1px solid grey;
  }
  
  .footer-last-main h5 {
    color: #fff;
    padding: 0px 0px 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .footer-last-events {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-last-events p {
    color: #fff;
    font-size: 14px;
    line-height: normal;
  }
  

  /* .blog-block-Ad {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .blog-block-Ad {
    width: 114px;
    height: 300px;
    max-width: 300px;
    max-height: 400px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    box-sizing: border-box;
    margin-left: -10rem;
  
  }
   */


/* other blogs */

  /* .blogs-main {
    display: flex;
    padding: 1px 2rem;
  
  }
  
  .Heading-Bg img {
    height: 300px;
  }
  
  @media(max-width: 824px) {
    .blogs-main {
      padding: 0px 2rem !important;
    }
  }
  
  
  
  .blogs span {
    font-size: 5vw;
    font-weight: 700;
    text-shadow: -0.08em 0.03em 0.12em rgba(252, 200, 31, 0.9);
    margin-left: 18rem;
  }
  
  .blogs span:not(:first-child) {
    margin-left: -0.23em;
  }
  
  
  .blogs h1 {
    color: #ebc013;
    padding: 0px 1rem;
    border-bottom: 1.5px solid #595959;
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
  
  }
  
  .blog-block-one,
  .blog-block-two,
  .blog-block-three,
  .blog-block-four {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

  }
  
  .blogs-main a:hover {
    text-decoration: none;
  }
  
  .blogs-main h2 {
    color: #000;
    margin-top: -1px;
    font-size: 1rem;
    line-height: 24px;
    font-family: "poppins";
    font-weight: 600;
  }
  
  .blogs-main p {
    color: #000;
    margin: -10px -6px 0.5rem;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: justify;
  }
  
  .blogs-main span {
    color: gray;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }
  
  .blogs-main img {
    width: 270px;
    height: 20%;
  }
  
  .blog-block-one-first .img1 {
    width: 200px;
  
    float: right;
  }
  
  .blog-block-one-first .img2 {
    width: 200px;
  
    float: right;
  }
   */
/*   
  
  .blog-block-one-first{

    margin-bottom: 15.5rem;
    
  }
  
  @media (max-width: 800px) {
    .blogs-main {
      flex-direction: column;
    }
  } */

  /* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.row h2{
  font-size: large;
    font-family: "poppins";
    margin-top: 1rem;
    color: #000;
   
}

.row p{
  font-size: medium;
  font-family: "poppins";
}

.row :hover{
  text-decoration: none;
  
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}




  /* Ad */
  
  img.Ad1 {
    width: 197px;
    height: 70%;
    margin-left: -227px;
    position: absolute;
}
img.Ad2 {
  width: 197px;
    height: 70%;
    margin-left: -104px;
    margin-top: 5rem;
    position: absolute;

}




@import url(//fonts.googleapis.com/css?family=Lato:300:400);



h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:80px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:40vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}