body{
  background: url("../assets/images/calendar-bg.webp");
  background-size: cover;
  background-attachment: fixed;
}

/* Navigation Bar */
nav {
  line-height: 17px;
}

#category-name-effect,
#category-name-effect2 {
  display: none;
}

#dmenu {
  z-index: 99999999;
  margin-top: 10px;
}

.dropdown:hover,
#category-name-effect {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect {
  display: contents !important;
}

.dropdown:hover #category-name-effect,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.dropdown:hover,
#category-name-effect2 {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown:hover #category-name-effect2,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

.dropdown-name {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "poppins";
}

.dropdown-name:hover {
  color: #ebc013 !important;
}

@media (min-width: 990px) and (max-width: 1274px) {
  .dropdown-name {
    font-size: 10px !important;
  }
}

.dropdown-menu-list {
  display: flex;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
}

.drop-item-name {
  color: #000 !important;
}

.drop-item-name::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.drop-item-name:hover::after {
  width: 65%;
}

.drop-category-heading {
  color: #ebc013;
  font-size: 20px;
  font-weight: 600;
}

.active {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0 !important;
}

.dropdown-main-items-list {
  flex: 4;
  /* font-family: "Open Sans", sans-serif; */
}

.dropdown-main-image-list {
  flex: 0.7;
}

.dropdown-main-image-list img {
  width: 200px;
  height: 150px;
}

@media (max-width: 400px) {
  .dropdown-main-image-list img {
    width: 150px !important;
    height: 100px !important;
  }
  .active {
    font-size: 15px !important;
  }
}

.item-image {
  padding-bottom: 10px;
}

.location-dropdown {
  display: flex;
  align-items: center;
  background: transparent;
  list-style-type: none;
  font-family: "Times New Roman";
  border: none;
  font-size: 20px;
  color: rgb(245, 239, 239);
  outline: none;
}
.marker-maps {
  font-size: 27px;
  color: gold;
}

.location-dropdown p {
  margin: 0 !important;
  padding-right: 0.5em;
}

.location-dropdown:hover {
  color: #ebc013;
  cursor: pointer;
  font-weight: 600;
}

.sign-in-button {
  background: none;
  border: none;
}

.sign-in-button i {
  color: #ebc013;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.sign-in-button i:hover {
  color: #fff;
  background-color: #ebc013;
  cursor: pointer;
  transition: 0.5s;
}

.navbar {
  z-index: 999;
  background-color: #000000ab;
}

@media (max-width: 992px) {
  .navbar {
    background: #514e6e;
  }
  .nav-image {
    width: 25%;
  }
}

@media (min-width: 993px) {
  .nav-image {
    width: 200px;
    margin: -10px 0px -12px;
  }
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 45px;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .nav-link span {
    color: #fff !important;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

@media (min-width: 595px) and (max-width: 992px) {
  .image-home {
    width: 90%;
  }
}

@media (max-width: 594px) {
  .image-home {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .image-home {
    flex: 2;
  }
  .navbar-collapse {
    flex: 2;
  }
  .navbar {
    height: 4rem;
  }
}

/* Location Modal */
.model-head {
  border-bottom: none !important;
}

.model-head h2 {
  font-size: 1.5rem;
}

.model-search-box {
  display: flex;
  align-items: center;
}

.model-search-box h3 {
  font-size: 1.1rem;
}

.model-search-box input {
  width: 100%;
  padding: 7px;
  margin: 0px 0px 0px 5px;
}

.model-search-box i {
  border: 1px solid black;
  padding: 10.1px;
  font-size: 20px;
  margin-left: -0.5px;
  cursor: pointer;
}

.model-close-button span {
  font-size: 40px;
}

.country-flags {
  margin: 20px 0px;
}

.country-flags h2 {
  color: #595959;
  font-size: 25px;
  text-align: center;
  margin: 5px 0px;
}

.flags-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.flag-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.flag-main img {
  cursor: pointer;
  width: 100px;
  height: 60px;
  margin: 0px 8px;
}

.flag-main img:hover {
  border: 1px solid black;
}

/* Head-Top */
.head-top{
  margin: 2rem 0rem;
  text-align: center;
}

.head-top h1{
  color: #ebc013;
  font-size: 55px;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}

@media (max-width: 450px){
  .head-top h1{
    font-size: 2rem !important;
  }
}

/* Calendar */
#holder{
  border-right: 1px solid rgb(159, 159, 159, 0.60);
}

@media(max-width: 1462px){
  #holder{
    border-right: none !important;
    border-bottom: 1px solid rgb(159, 159, 159, 0.60);
  }
}

.calendar-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0rem;
}

.calendar-day {
	width: 100px;
	height: 80px;
}

.calendar-table {
	margin: 0 auto;
	width: 60rem;
}

@media (max-width: 970px){
  .calendar-table{
    width: 100% !important;
  }
}

@media (max-width: 400px){
  .calendar-table td, .calendar-table th{
    padding: 0.75rem 0rem !important;
  }
}

.c-weeks .c-name{
  color: white;
  text-align: center;
}

.selected {
  border-radius: 1rem;
	background-color: #3f3d56;
}

.selected .date{
  color: #ebc013;
}

.outside .date {
	color: #565656;
}

.date{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.win-grid td:hover{
  border: 2px solid rgb(232, 232, 232, 0.90) !important;
}

.date:hover{
  cursor: pointer;
}

.timetitle {
	white-space: nowrap;
	text-align: right;
}

.event {
	border-top: 1px solid #b2dba1;
	border-bottom: 1px solid #b2dba1;
	background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
	background-repeat: repeat-x;
	color: #3c763d;
	border-width: 1px;
	font-size: .75em;
	padding: 0 .75em;
	line-height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1px;
}

.event.begin {
	border-left: 1px solid #b2dba1;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.event.end {
	border-right: 1px solid #b2dba1;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.table td, .table th{
  vertical-align: inherit;
  border: none !important;
}

.calendar-table{
  margin-bottom: 1rem;
}

.today-btn button{
  color: #ebc013;
  background-color: transparent !important;
  transition: .5s;
}

.today-btn button:hover{
  color: #ebc013;
  transition: .5s;
  font-size: 25px;
}

.month-previous, .month-next{
  font-size: 1.5rem;
  background-color: transparent !important;
  transition: .5s;
  color: #ebc013;
}

.month-previous{
  margin-right: 5px;
}

.month-next{
  margin-left: 5px;
}

.month-previous:hover, .month-next:hover{
  font-size: 2rem;
  color: gold !important;
  transition: .5s;
}

.event.all-day {
	border-top: 1px solid #9acfea;
	border-bottom: 1px solid #9acfea;
	background-image: linear-gradient(to bottom, #d9edf7 0px, #b9def0 100%);
	background-repeat: repeat-x;
	color: #31708f;
	border-width: 1px;
}

.event.all-day.begin {
	border-left: 1px solid #9acfea;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.event.all-day.end {
	border-right: 1px solid #9acfea;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.event.clear {
	background: none;
	border: 1px solid transparent;
}

.table-tight > thead > tr > th,
.table-tight > tbody > tr > th,
.table-tight > tfoot > tr > th,
.table-tight > thead > tr > td,
.table-tight > tbody > tr > td,
.table-tight > tfoot > tr > td {
	padding-left: 0;
	padding-right: 0;
}

.table-tight-vert > thead > tr > th,
.table-tight-vert > tbody > tr > th,
.table-tight-vert > tfoot > tr > th,
.table-tight-vert > thead > tr > td,
.table-tight-vert > tbody > tr > td,
.table-tight-vert > tfoot > tr > td {
	padding-top: 0;
	padding-bottom: 0;
}

.month-btn, .year-btn{
  color: #ebc013;
  font-size: 25px;
  font-weight: 700;
  transition: .5s;
}

.month-btn:hover, .year-btn:hover{
  text-decoration: none !important;
  font-size: 1.5rem !important;
  transition: .5s;
  color: gold;
}

.months-list td{
  color: #ebc013 !important;
  font-size: 20px;
  transition: .5s;
}

.months-list td:hover{
  color: gold !important;
  transition: .5s;
  cursor: pointer;
}

.calendar-sidebar{
  text-align: center;
  width: 500px;
  height: 628px;
  padding: 0rem 1.5rem;
}

.event-list{
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 1rem;
  border: 1.5px solid #ebc013;
  border-radius: 8px;
  height: 550px;
  overflow-y: scroll;
}

.event-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.event-list::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.event-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ebc013;
}

.event-link{
  margin-bottom: 1rem !important;
}

.event-title-and-date{
  border-bottom: 1px solid rgb(159, 159, 159, 0.60);
  padding: 2% 0px 0px;
}

.event-title-and-date h2{
  color: #ebc013;
}

.calendar-sidebar a{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.calendar-sidebar a h4, .calendar-sidebar a p{
  color: #ebc013;
  line-height: 1.4;
  text-align: center;
  font-size: 20px;
}

.calendar-sidebar a h4{
  margin: 0 !important;
  font-size: 1.5rem !important;
}

.calendar-sidebar a:hover{
  text-decoration: none;
}

.coloredDate{
  background: red !important;
  border-radius: 1rem !important;
}

#collapseExample, #collapseExample2, #collapseExample3, #collapseExample4, #collapseExample5, #collapseExample6, #collapseExample7, #collapseExample8, #collapseExample9, #collapseExample10 {
  padding: 0px 25px;
}

#collapseExample h3, #collapseExample2 h3, #collapseExample3 h3, #collapseExample4 h3, #collapseExample5 h3, #collapseExample6 h3, #collapseExample7 h3, #collapseExample8 h3, #collapseExample9 h3, #collapseExample10 h3{
  color: #ebc013;
}

#collapseExample p, #collapseExample2 p, #collapseExample3 p, #collapseExample4 p, #collapseExample5 p, #collapseExample6 p, #collapseExample7 p, #collapseExample8 p, #collapseExample9 p, #collapseExample10 p{
  color: #ebc013;
}

.event-detail-main{
  background: transparent;
  border: 1.5px solid gold;
  border-radius: 1rem;
}

/* Footer */
.footer-main {
  border-top: 7px solid #ffcc00;
  background: url("../assets/images/contactUs_footer_bg.webp");
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
}

.footer-main h2 {
  color: #ebc013;
  font-family: "Lobster", cursive;
  margin: 5px 0px 10px;
  text-align: center;
}

@media (min-width: 421px) {
  .footer-main h2 {
    font-size: 45px;
  }
}

@media (max-width: 420px) {
  .footer-main h2 {
    font-size: 2.4rem;
  }
}

.footer-upper-part {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
}

@media (max-width: 510px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

@media (min-width: 511px) and (max-width: 768px) {
  .footer-host-events {
    padding: 40px 20px;
  }
}

@media (min-width: 769px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

.footer-host-events {
  display: flex;
  flex-direction: column;
}

.footer-host-events i {
  font-size: 5rem;
  color: #ebc013ad;
}

.footer-host-events h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.footer-host-events li {
  list-style-type: none;
  margin-bottom: 7px;
}

.footer-host-events a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.footer-host-events li a {
  color: #fff !important;
  font-size: 16px;
}

.footer-upper-host-icons {
  display: flex;
}

.footer-upper-host-icons li {
  border-radius: 50%;
  /* background: #ebc013; */
  padding: 8px 12px;
  margin: 0px 10px 0px 0px;
}

.footer-upper-host-icons i {
  color: #fff;
  font-size: 29px;
}

.footer-mid-part {
  border-top: 1px solid grey;
}

.footer-mid-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.marquee {
  background-color: transparent;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  height: auto;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: 1s scrolling;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  flex-shrink: 0;
  white-space: nowrap;
}
.marquee-content img {
  break-before: always;
  width: 40%;
}

.marquee-content p {
  width: 100%;
  position: relative;
  right: 50%;
  text-align: center;
  padding-top: 86px;
  color: #ebc013;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.marquee-content a:hover {
  color: #ebc013;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@media (max-width: 600px) {
  .marquee-content li {
    width: 50vw;
  }
  .marquee-content p {
    padding-top: 120px;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee::before,
.marquee::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::before {
  left: 0;
}

.marquee::after {
  right: 0;
}

@media (max-width: 600px) {
  .marquee::before {
    left: 0;
  }

  .marquee::after {
    right: 0;
  }
}

.footer-lower-part {
  border-top: 1px solid grey;
}

.footer-lower-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 500px) {
  .footer-contact {
    flex-direction: row;
  }
}

@media (max-width: 499px) {
  .footer-contact {
    flex-direction: column;
  }
  .footer-lower-address {
    margin-bottom: 5px;
  }
  .footer-phone {
    margin-bottom: 5px;
  }
}

.footer-lower-content {
  padding: 20px 50px;
  display: flex;
}

@media (min-width: 770px) {
  .footer-lower-content {
    flex-direction: row;
  }
}

@media (max-width: 769px) {
  .footer-lower-content {
    flex-direction: column;
  }
}

.footer-lower-content h4 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-lower-content h5 {
  color: #fff;
  font-size: 18px;
}

.footer-lower-content p {
  color: #fff;
  font-size: 16px;
}

.footer-lower-address {
  display: grid;
}

.footer-corporate {
  margin-bottom: 10px;
}

.footer-corporate h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-corporate p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-registered h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-registered p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-contact {
  display: grid;
}

.footer-phone h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-phone p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-email h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-email p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-one {
  flex: 2;
}

.footer-lower-two {
  flex: 1;
}

@media (min-width: 770px) {
  .footer-lower-two {
    margin-top: 0px;
  }
}

@media (max-width: 769px) {
  .footer-lower-two {
    margin-top: 20px;
  }
}

.footer-lower-two img {
  width: 100%;
}

.footer-last-part {
  padding: 40px 50px;
  border-top: 1px solid grey;
}

.footer-last-main h5 {
  color: #fff;
  padding: 0px 0px 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer-last-events {
  display: flex;
  flex-wrap: wrap;
}

.footer-last-events p {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.footer {
  line-height: 1.1;
}
