body{
    background-image: url("../assets/images/corporate_bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Navigation Bar */
nav {
  line-height: 17px;
}

#category-name-effect,
#category-name-effect2 {
  display: none;
}

#dmenu {
  z-index: 99999999;
  margin-top: 10px;
}

.dropdown:hover,
#category-name-effect {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect {
  display: contents !important;
}

.dropdown:hover #category-name-effect,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.dropdown:hover,
#category-name-effect2 {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown:hover #category-name-effect2,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

.dropdown-name {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "poppins";
}

.dropdown-name:hover {
  color: #ebc013 !important;
}

@media (min-width: 990px) and (max-width: 1274px) {
  .dropdown-name {
    font-size: 10px !important;
  }
}

.dropdown-menu-list {
  display: flex;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
}

.drop-item-name {
  color: #000 !important;
}

.drop-item-name::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.drop-item-name:hover::after {
  width: 65%;
}

.drop-category-heading {
  color: #ebc013;
  font-size: 20px;
  font-weight: 600;
}

.active {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0 !important;
}

.dropdown-main-items-list {
  flex: 4;
  font-family: "Open Sans", sans-serif;
}

.dropdown-main-image-list {
  flex: 0.7;
}

.dropdown-main-image-list img {
  width: 200px;
  height: 150px;
}

@media (max-width: 400px) {
  .dropdown-main-image-list img {
    width: 150px !important;
    height: 100px !important;
  }
  .active {
    font-size: 15px !important;
  }
}

.item-image {
  padding-bottom: 10px;
}

.location-dropdown {
  display: flex;
  align-items: center;
  background: transparent;
  list-style-type: none;
  font-family: "Times New Roman";
  border: none;
  font-size: 20px;
  color: rgb(245, 239, 239);
  outline: none;
}
.marker-maps {
  font-size: 27px;
  color: gold;
}

.location-dropdown p {
  margin: 0 !important;
  padding-right: 0.5em;
}

.location-dropdown:hover {
  color: #ebc013;
  cursor: pointer;
  font-weight: 600;
}

.sign-in-button {
  background: none;
  border: none;
}

.sign-in-button i {
  color: #ebc013;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.sign-in-button i:hover {
  color: #fff;
  background-color: #ebc013;
  cursor: pointer;
  transition: 0.5s;
}

.navbar {
  z-index: 999;
  background-color: #000000ab;
}

@media (max-width: 992px) {
  .navbar {
    background: #514e6e;
  }
  .nav-image {
    width: 25%;
  }
}

@media (min-width: 993px) {
  .nav-image {
    width: 200px;
    margin: -10px 0px -12px;
  }
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 45px;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .nav-link span {
    color: #fff !important;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

@media (min-width: 595px) and (max-width: 992px) {
  .image-home {
    width: 90%;
  }
}

@media (max-width: 594px) {
  .image-home {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .image-home {
    flex: 2;
  }
  .navbar-collapse {
    flex: 2;
  }
  .navbar {
    height: 4rem;
  }
}

/* Location Modal */
.model-head {
  border-bottom: none !important;
}

.model-head h2 {
  font-size: 1.5rem;
}

.model-search-box {
  display: flex;
  align-items: center;
}

.model-search-box h3 {
  font-size: 1.1rem;
}

.model-search-box input {
  width: 100%;
  padding: 7px;
  margin: 0px 0px 0px 5px;
}

.model-search-box i {
  border: 1px solid black;
  padding: 10.1px;
  font-size: 20px;
  margin-left: -0.5px;
  cursor: pointer;
}

.model-close-button span {
  font-size: 40px;
}

.country-flags {
  margin: 20px 0px;
}

.country-flags h2 {
  color: #595959;
  font-size: 25px;
  text-align: center;
  margin: 5px 0px;
}

.flags-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.flag-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.flag-main img {
  cursor: pointer;
  width: 100px;
  height: 60px;
  margin: 0px 8px;
}

.flag-main img:hover {
  border: 1px solid black;
}

/* Head-top */
.head-top{
    background-image: url("../assets/images/cpbannernew.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 752px;
    text-align: center;
    margin-top: -65px;
    font-family: "Bitter", serif;
}

@media(min-width: 991px){
  .head-top{
    padding: 16rem 0px 0px;
  }
}

@media(max-width: 990px){
  .head-top{
    padding: 10rem 0px 0px;
  }
}

.corporate-head-top{
    background: #000000ab;
    padding: 40px;
}

.corporate-head-top h2{
    color: #fff;
    font-weight: 700;
}

@media (max-width: 410px) {
    .corporate-head-top h2 {
        font-size: 28px !important;
    }
}

@media (max-width: 500px) {
    .corporate-head-top h2{
        font-size: 2rem;
    }
    .corporate-head-top h5{
        font-size: 1rem;
    }
}

@media (min-width: 501px) {
    .corporate-head-top h5{
        font-size: 20px;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .corporate-head-top h2{
        font-size: 40px;
    }
}

@media (min-width: 701px) {
    .corporate-head-top h2{
        font-size: 50px;
    }
}

.corporate-head-top h5{
    color: #fff;
    line-height: 1.5;
    font-weight: 600;
}

/* Corporate Intro */
.corporate-intro{
    background-image: url("../assets/images/bg-background.webp");
    background-size: cover;
}
.corporate-intro-main{
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 60px;
}

@media (max-width: 800px) {
    .corporate-intro-main{
        flex-direction: column-reverse;
    }
    .corporate-intro-image img{
        margin-bottom: 20px;
    }
}

.corporate-intro-main h2{
    text-align: center;
}

.corporate-intro-content{
    font-family: "Bitter", serif;
}

@media (max-width: 948px) {
    .corporate-intro-content h2{
        font-size: 2rem;
    }
}

@media (min-width: 949px) {
    .corporate-intro-content h2{
        font-size: 45px;
    }
}

.corporate-intro-content h2{
    color: #fff;
    font-weight: 700;
}

@media (max-width: 1299px){
    .corporate-intro-main{
        padding: 20px;
    }
    .corporate-intro-content p{
        padding: 0px 20px !important;
    }
}

.corporate-intro-content p{
    color: #fff;
    padding: 0px 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.8;
}

@media (max-width: 500px) {
    .corporate-intro-image img{
        width: 300px;
    }
}

@media (min-width: 501px) and (max-width: 920px) {
    .corporate-intro-image img{
        width: 400px;
    }
}

@media (min-width: 921px) and (max-width: 1120px) {
    .corporate-intro-image img{
        width: 550px;
    }
}

@media (min-width: 1121px) {
    .corporate-intro-image img{
        width: 45rem;
    }
}

.corporate-intro-image img{
    border-radius: 2%;
    box-shadow: 1px 0px 20px 2px #fff;
}

/* Slides */
.cs-main{
    overflow: hidden;
}

.slides{
    font-family: "Bitter", serif;
}

.slides-one{
    display: flex;
    padding: 40px;
}

@media (max-width: 970px){
    .slides-one{
        flex-direction: column;
    }
}

.slides-flex{
    display: flex;
}

@media (max-width: 1340px) {
    .slides-flex{
        flex-direction: column;
        align-items: center;
    }
}

.slides-main h3{
    color: #fff;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 399px) {
    .slides-main h3{
        font-size: 20px;
    }
}

@media (min-width: 400px) and (max-width: 1105px){
    .slides-main h3{
        font-size: 1.5rem;
    }
}

@media (min-width: 1106px){
    .slides-main h3{
        font-size: 2rem;
    }
}

.ci-image img{
    border-radius: 5%;
    width: 300px;
    height: 350px;
}

@media (max-width: 449px) {
    .ci-para p{
        padding: 5px;
    }
}

@media (min-width: 450px) {
    .ci-para p{
        padding: 0px 25px 5px;
    }
}

.ci-para p{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

/* card-slider */
#more {
    display: none;
  }
  #more1 {
    display: none;
  }
  #more2 {
    display: none;
  }
  #more3 {
    display: none;
  }
  #more4 {
    display: none;
  }
  #more5 {
    display: none;
  }
  #more6 {
    display: none;
  }
  #more7 {
    display: none;
  }
  #more8 {
    display: none;
  }
  #more9 {
    display: none;
  }
  #more10 {
    display: none;
  }
  #more11 {
    display: none;
  }
  #more12 {
    display: none;
  }
  #more13 {
    display: none;
  }
  #more14 {
    display: none;
  }
  #more15 {
    display: none;
  }
  #more16 {
    display: none;
  }
  #more17 {
    display: none;
  }
  #more18 {
    display: none;
  }
  #more19 {
    display: none;
  }
  #more20 {
    display: none;
  }
  
  .products-slider{
    margin: 2rem 0rem;
  }
  
  .addCartandBuynow{
    text-align: center;
    background: transparent;
    border: 1px solid white;
    padding: 5px;
    color: white;
  }
  
  .product-slider-buttons{
    display: flex;
    justify-content: space-around;
  }
  
  .warning_button {
    line-height: 0.9;
    color: #fff;
    margin-top: 0px;
    margin-left: 80px;
    background: none;
    border: 2px solid;
  }
  .success_button {
    line-height: 0.9;
    color: #fff;
    margin-top: 10px;
    margin-left: 80px;
    background: none;
    border: 2px solid;
  }
  
  .data {
    display: flex;
    padding: 0px 13px 0px 15px;
  }
  .rating {
    margin-left: auto;
  }
  .rating ul {
    display: flex;
  }
  .rating li {
    list-style: none;
  }
  .card-slider .slick-slide img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  
    height: 225px;
  }
  @media (max-width: 420px) {
    .card-slider .slick-slide img {
      height: 160px !important;
    }
  }
  .card-slider .slick-slide {
    padding: 0px 9px;
  }
  .card-slider .slick-slide .inner {
    width: 100%;
    background: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
  
    border-radius: 10px;
  }
  .title {
    color: #fff;
  }
  .title h3 {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    font-family: "Nunito", sans-serif;
  }
  .title p {
    font-family: "Nunito", sans-serif;
    padding: 0px 9px 0px 9px;
  }
  
  .card-slider {
    background: #000;
    height: fit-content;
  }
  .boxes {
    display: flex;
  }
  .img-image {
    margin: 0px 20px;
  }
  
  .wedding_destination_column {
    padding: 0px 50px 0px 0px !important;
  }
  .wedding-destination .slick-prev {
    left: -50px !important;
  }
  .wedding-destination .slick-next {
    right: -44px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 33px;
  }
  
  .wdh{
    margin-top: 40% !important;
  }
  
  .wedding_destination_column_eight{
    padding: 0px 0px 0px 55px !important;
  }
  
  @media (max-width: 992px) {
    .sliding {
      margin-top: 25px;
    }
    .wedding_destination_column_eight {
      padding: 0px 55px 0px 55px !important;
    }
    .box1 h2 {
      margin-top: 10%;
      height: 200px;
      text-align: center;
      font-size: 35px;
      padding: 0px 15px 0px 15px;
    }
    .head1 {
      background: url(/assets/images/weds.webp) center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
    .head1, .head2, .head3, .head4, .head5, .head6, .head7, .head8, .head9, .head10, .head11, .head12, .head13, .head14, .head15, .head16, .head17, .head18, .head19, .head20, .head21, .head22, .head23, .head24, .head25, .head26, .head27, .head28, .head29, .head30, .head{
      height: 200px !important;
    }
  }
  .head1 {
    background: url(/assets/images/imgg3.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head2 {
    background: url(/assets/images/des\ wed2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head3 {
    background: url(/assets/images/budget\ wed.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head4 {
    background: url(/assets/images/budget\ wed\ 2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head5 {
    background: url(/assets/images/hc1.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head6 {
    background: url(/assets/images/hc2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head7 {
    background: url(/assets/images/sangeet1.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head8 {
    background: url(/assets/images/sangeet2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head9 {
    background: url(/assets/images/bp1.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head10 {
    background: url(/assets/images/bp2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head11 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head12 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head13 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head14 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head15 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head16 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head17 {
    background: url(/assets/images/dw1.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head18 {
    background: url(/assets/images/dw2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head19 {
    background: url(/assets/images/pre\ wed.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head20 {
    background: url(/assets/images/pre\ wed2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head21 {
    background: url(/assets/images/rc1.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head22 {
    background: url(/assets/images/rc2.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head23 {
    background: url(/assets/images/mehndi1.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head24 {
    background: url(/assets/images/mehndi3.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head25 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head26 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head27 {
    background: url(/assets/images/big\ fat.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head28 {
    background: url(/assets/images/big\ fat\ wed.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head29 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  .head30 {
    background: url(/assets/images/images.webp) center center;
    height: 378px;
    width: 107%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    background-color: #00000054;
    background-blend-mode: color;
  }
  
  .price-cards-align{
    margin-top: 15px;
  }
  
  .slick-slide img {
    width: 100%;
    height: 381px;
    border-radius: 15px;
  }

/* Upcoming-Corporate-Events */
/* .upcoming-corporate-events{
    display: flex;
} */

.upcoming-corporate-events{
    display: flex;
    width: 90%;
    padding: 50px;
    margin-left: 25px;
}

@media (max-width: 989px){
    .upcoming-corporate-events{
        flex-direction: column;
    }
    .upcoming-corporate-events-heading, .upcoming-corporate-events-image, .upcoming-corporate-events-content{
        margin-top: 25px;
    }
}

.upcoming-corporate-events-heading{
    text-align: center;
    padding: 150px 0px;
    border-radius: 9%;
    background: rgba(0, 0, 0, 0.58);
}

@media (min-width: 600px) and (max-width: 989px){
    .upcoming-corporate-events-heading{
        padding: 80px 0px !important;
    }
}

@media (max-width: 599px){
    .upcoming-corporate-events-heading{
        padding: 40px 0px !important;
        height: 10rem;
    }
    .upcoming-corporate-events-heading h4{
        font-size: 1.8rem !important;
    }
    .upcoming-corporate-events-image img{
        height: 200px !important;
    }
}

@media (max-width: 699px){
    .uce-1-content, .uce-2-content, .uce-3-content{
        padding: 40px 16px !important;
        height: 350px;
    }
}

.uce-1-heading h4, .uce-2-heading h4, .uce-3-heading h4{
    font-size: 2.2rem;
    color: #fff;
}

.uce-1-heading p, .uce-2-heading p, .uce-3-heading p{
    font-size: 1.5rem;
    color: #fff;
}

.uce-1-image img, .uce-2-image img, .uce-3-image img{
    height: 450px;
}

.uce-1-content, .uce-2-content, .uce-3-content{
    padding: 100px 16px;
    background: rgba(0, 0, 0, 0.58);
    border-radius: 9%;
}

.uce-1-content p, .uce-2-content p, .uce-3-content p{
    color: #fff;
    font-size: 18px;
}

/* Footer */
.footer-main {
  border-top: 7px solid #ffcc00;
  background: url("../assets/images/corporate_footer_bg.webp");
  background-size: cover;
  background-position: center;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
}

.footer-main h2 {
  color: #ebc013;
  font-family: "Lobster", cursive;
  margin: 5px 0px 10px;
  text-align: center;
}

@media (min-width: 421px) {
  .footer-main h2 {
    font-size: 45px;
  }
}

@media (max-width: 420px) {
  .footer-main h2 {
    font-size: 2.4rem;
  }
}

.footer-upper-part {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
}

@media (max-width: 510px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

@media (min-width: 511px) and (max-width: 768px) {
  .footer-host-events {
    padding: 40px 20px;
  }
}

@media (min-width: 769px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

.footer-host-events {
  display: flex;
  flex-direction: column;
}

.footer-host-events i {
  font-size: 5rem;
  color: #ebc013ad;
}

.footer-host-events h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.footer-host-events li {
  list-style-type: none;
  margin-bottom: 7px;
}

.footer-host-events a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.footer-host-events li a {
  color: #fff !important;
  font-size: 16px;
}

.footer-upper-host-icons {
  display: flex;
}

.footer-upper-host-icons li {
  border-radius: 50%;
  /* background: #ebc013; */
  padding: 8px 12px;
  margin: 0px 10px 0px 0px;
}

.footer-upper-host-icons i {
  color: #fff;
  font-size: 29px;
}

.footer-mid-part {
  border-top: 1px solid grey;
}

.footer-mid-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.marquee {
  background-color: transparent;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  height: auto;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: 1s scrolling;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  flex-shrink: 0;
  white-space: nowrap;
}
.marquee-content img {
  break-before: always;
  width: 40%;
}

.marquee-content p {
  width: 100%;
  position: relative;
  right: 50%;
  text-align: center;
  padding-top: 86px;
  color: #ebc013;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.marquee-content a:hover {
  color: #ebc013;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@media (max-width: 600px) {
  .marquee-content li {
    width: 50vw;
  }
  .marquee-content p {
    padding-top: 120px;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee::before,
.marquee::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::before {
  left: 0;
}

.marquee::after {
  right: 0;
}

@media (max-width: 600px) {
  .marquee::before {
    left: 0;
  }

  .marquee::after {
    right: 0;
  }
}

.footer-lower-part {
  border-top: 1px solid grey;
}

.footer-lower-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 500px) {
  .footer-contact {
    flex-direction: row;
  }
}

@media (max-width: 499px) {
  .footer-contact {
    flex-direction: column;
  }
  .footer-lower-address {
    margin-bottom: 5px;
  }
  .footer-phone {
    margin-bottom: 5px;
  }
}

.footer-lower-content {
  padding: 20px 50px;
  display: flex;
}

@media (min-width: 770px) {
  .footer-lower-content {
    flex-direction: row;
  }
}

@media (max-width: 769px) {
  .footer-lower-content {
    flex-direction: column;
  }
}

.footer-lower-content h4 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-lower-content h5 {
  color: #fff;
  font-size: 18px;
}

.footer-lower-content p {
  color: #fff;
  font-size: 16px;
}

.footer-lower-address {
  display: grid;
}

.footer-corporate {
  margin-bottom: 10px;
}

.footer-corporate h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-corporate p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-registered h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-registered p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-contact {
  display: grid;
}

.footer-phone h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-phone p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-email h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-email p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-one {
  flex: 2;
}

.footer-lower-two {
  flex: 1;
}

@media (min-width: 770px) {
  .footer-lower-two {
    margin-top: 0px;
  }
}

@media (max-width: 769px) {
  .footer-lower-two {
    margin-top: 20px;
  }
}

.footer-lower-two img {
  width: 100%;
}

.footer-last-part {
  padding: 40px 50px;
  border-top: 1px solid grey;
}

.footer-last-main h5 {
  color: #fff;
  padding: 0px 0px 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer-last-events {
  display: flex;
  flex-wrap: wrap;
}

.footer-last-events p {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.footer {
  line-height: 1.1;
}
