body {
  background-color: #f6f6f6;
}

/* Navigation Bar */
nav {
  line-height: 17px;
}

#category-name-effect,
#category-name-effect2 {
  display: none;
}

#dmenu {
  z-index: 99999999;
  margin-top: 10px;
}

.dropdown:hover,
#category-name-effect {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect {
  display: contents !important;
}

.dropdown:hover #category-name-effect,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.dropdown:hover,
#category-name-effect2 {
  color: #ebc013 !important;
}

.dropdown:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown-main-items-list:hover #category-name-effect2 {
  display: contents !important;
}

.dropdown:hover #category-name-effect2,
.dropdown:hover .dropdown-name {
  color: #ebc013 !important;
}

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

.dropdown-name {
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  /* font-family: "Open Sans", sans-serif; */
}

.dropdown-name:hover {
  color: #ebc013 !important;
}

@media (min-width: 990px) and (max-width: 1274px) {
  .dropdown-name {
    font-size: 10px !important;
  }
}

.dropdown-menu-list {
  display: flex;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
}

.drop-item-name {
  color: #000 !important;
}

.drop-item-name::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.drop-item-name:hover::after {
  width: 65%;
}

.drop-category-heading {
  color: #ebc013;
  font-size: 20px;
  font-weight: 600;
}

.active {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0 !important;
}

.dropdown-main-items-list {
  flex: 4;
  font-family: "Open Sans", sans-serif;
}

.dropdown-main-image-list {
  flex: 0.7;
}

.dropdown-main-image-list img {
  width: 200px;
  height: 150px;
}

@media (max-width: 400px) {
  .dropdown-main-image-list img {
    width: 150px !important;
    height: 100px !important;
  }
  .active {
    font-size: 15px !important;
  }
}

.item-image {
  padding-bottom: 10px;
}

.location-dropdown {
  display: flex;
  align-items: center;
  background: transparent;
  list-style-type: none;
  font-family: "Times New Roman";
  border: none;
  font-size: 20px;
  color: #fff;
  outline: none;
}

.location-dropdown p {
  margin: 0 !important;
}

.location-dropdown:hover {
  color: #ebc013;
  cursor: pointer;
  font-weight: 600;
}

.sign-in-button {
  background: none;
  border: none;
}

.sign-in-button i {
  color: #ebc013;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.sign-in-button i:hover {
  color: #fff;
  background-color: #ebc013;
  cursor: pointer;
  transition: 0.5s;
}

.navbar {
  z-index: 999;
  background-color: #000000ab;
}

@media (max-width: 992px) {
  .navbar {
    background: #514e6e;
  }
  .nav-image {
    width: 25%;
  }
}

@media (min-width: 993px) {
  .nav-image {
    width: 100%;
    margin: -10px 0px -12px;
  }
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 45px;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .nav-link span {
    color: #fff !important;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

@media (min-width: 595px) and (max-width: 992px) {
  .image-home {
    width: 90%;
  }
}

@media (max-width: 594px) {
  .image-home {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .image-home {
    flex: 2;
  }
  .navbar-collapse {
    flex: 2;
  }
  .navbar {
    height: 4rem;
  }
}

/* Location Modal */
.model-head {
  border-bottom: none !important;
}

.model-head h2 {
  font-size: 1.5rem;
}

.model-search-box {
  display: flex;
  align-items: center;
}

.model-search-box h3 {
  font-size: 1.1rem;
}

.model-search-box input {
  width: 100%;
  padding: 10px;
  margin: 0px 0px 0px 5px;
}

.model-search-box i {
  border: 1px solid black;
  padding: 10.1px;
  font-size: 20px;
  margin-left: -0.5px;
  cursor: pointer;
}

.model-close-button span {
  font-size: 40px;
}

.country-flags {
  margin: 20px 0px;
}

.country-flags h2 {
  color: #595959;
  font-size: 25px;
  text-align: center;
  margin: 5px 0px;
}

.flags-first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.flag-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.flag-main img {
  cursor: pointer;
  width: 100px;
  height: 60px;
  margin: 0px 8px;
}

.flag-main img:hover {
  border: 1px solid black;
}

/* Head-Top */
.head-top {
  background: url("../assets/images/eventLandingHeadTop.webp");
  background-size: cover;
  padding: 100px 0px;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.head-top-main span {
  display: flex;
}

.head-top-main h1 {
  color: white;
  font-size: 55px;
  font-family: "Poppins";
}

/* Event-Landing-Main */
.eventLandingMain {
  display: flex;
  /* font-family: "Poppins"; */
  padding: 0px 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

@media(max-width: 1200px){
  .eventLandingMain{
    justify-content: center;
    padding: 0px 1rem !important;
  }
}

@media(max-width: 992px){
  .eventLandingMain{
    flex-direction: column;
  }
  .elmLeft{
    width: 100% !important;
  }
  .elmRight{
    margin: 1rem 0rem;
    width: 100% !important;
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
  }
  .event-details-tab{
    width: 100% !important;
    padding: 0rem 1rem !important;
  }
}

@media(max-width: 814px){
  .tickets-main{
    justify-content: center !important;
  }
  .btn-sc{
    width: 100% !important;
    flex-wrap: wrap;
  }
}

@media(max-width: 852px){
  .speaker{
    justify-content: center;
  }
}

.elmLeft {
  width: 65%;
  margin-right: 2rem;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.elmLeft p {
  font-size: 1rem;
  line-height: 1.5;
}

.elmLeft p span {
  color: #fb0;
}

.elmLeft img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.elmLeft p {
  padding: 1.5rem 2rem;
}

.elmRight {
  background-color: white;
  width: 30%;
  height: 100%;
  padding: 2rem 0rem 0rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.elmRight h2 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.elmRight i {
  color: #facf23;
  font-size: 21px;
  margin-right: 40px;
}

.eDate {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #eaeaea;
}

.eDate-ac {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.eDate-ac span {
  font-size: .7992rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing:1px;
}

.eDate-ac p {
  font-size: .9131rem;
    color: #888;
}

.elmRight button {
  color: white;
  background-color: #fb0;
  font-size: 20px;
  border: none;
  border-radius: 1rem;
  padding: 8px 1rem;
  margin: 2rem 0rem;
  transition: 0.5s;
}

.elmRight button:hover {
  color: #fb0;
  background-color: white;
  border: 1px solid #fb0;
  transition: 0.5s;
  cursor: pointer;
}

/* Event-Details-Tab */
.event-details-tab {
  /* width: 67%; */
  display: flex;
  padding: 0px 2rem;
  border-radius: 8px;
  margin-bottom: 4rem;
  font-size: 0.8rem;
}
.edt-left {
  width: 65%;
  border-radius:10px;
  margin-right: 2rem;
  background-color: #fff;
  height: 100%;
}

.event-details-tab ul {
  background: white;
  /* border-bottom: 2.5px solid #fb0; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: space-between;
}

.event-details-tab ul li:hover{
  border-bottom: 2.5px solid #fb0;
  
}

.event-details-tab ul li {
  padding: 5px;
  border-right: 1px solid #eee;
  padding: 19px 11px;
}

.event-details-tab ul li a {
  border: none !important;
}

.event-details-tab ul li .active {
  color: #fb0 !important;
}


.pill-item {
  text-transform: uppercase;
  background: white;
}

.pill-item:hover {
  color: gold;
}

.pill-tab {
  background: white;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

/* Tickets */
#tickets {
  height: 700px;
  padding: 2rem;
  font-family: "Poppins";
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

@media(max-width: 1464px){
  #tickets{
    overflow: scroll;
  }
}

.ticket {
  background: none !important;
  width: 22.5rem;
  text-align: center;
  border: 1.5px solid #fb0;
  border-radius: 5px;
  padding: 2rem 20px 1rem;
  margin: 0rem 0rem 1rem;
}

.ticket:before, .ticket:after{
  content: none !important;
  position: static !important;
}

.ticket-title {
  margin-bottom: 1rem;
}

.ticket p {
  margin: 8px 0px 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ticket span {
  color: #fb0;
  font-size: 2.5rem;
}

.ticket li {
  color: grey;
  margin: 8px 0px;
  font-family: poppins;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  list-style-type: none !important;
}

.ticket button {
  background-color: #fb0;
  padding: 10px 40px;
  margin: 1rem 0rem;
  border: none;
  border-radius: 1rem;
}

.ticket button a {
  color: white !important;
}

.tickets-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -20.5px -25px;
}

/* Schedule */
#schedule {
  height: 100%;
  padding: 2rem 1rem;
  overflow: scroll;
}

.acc-1 button {
  color: #000;
  font-size: 18px;
}

.acc-1 button:hover {
  color: #fb0;
  text-decoration: none;
}

.acc-1 .card {
  margin-bottom: 1rem;
}

.btn-sc {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#collapseOne .card-body,
#collapseTwo .card-body,
#collapseThree .card-body,
#collapseFour .card-body {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1;
  line-height: 1.2;
}

/* Speakers */
.speaker {
  display: flex;
  flex-wrap: wrap;
}

.speaker img {
  width: 376px;
  height: 200px;
  padding: 5px;
  margin: 5px;
}

/* FAQ */
#faqs {
  padding: 1rem;
}

#faq1,
#faq2,
#faq3,
#faq4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
}

/* Contact */
#contact {
  /* text-align: center; */
  padding: 1.5rem 0rem;
  height: 100%;
}

#contact input{
  margin: 15px 10px;
  padding: 15px;
}
#contact label{
 font-size: 15px !important;
 font-weight: normal !important;
}
#contact input:focus{
  border: none;
}
#contact textarea{
  margin: 15px 10px 10px 10px ;
  padding: 15px;
}
.submit{
  margin-top:0px !important;
  padding: 15px 25px !important;
  background-color: #ffbb00;
  color: #fff;
  border: 1px solid #ffbb00;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
}
.submit:hover{
  background-color: #fff;
  color: #ffbb00;
}
#contact a {
  text-align: center !important;
  color: white;
  background-color: #fb0;
  padding: 10px 2.5rem;
  margin: 20px;
  transition: 0.5s;
}
#contact a:hover {
  color: #fb0;
  background-color: white;
  border: 1px solid #fb0;
  transition: 0.5s;
  text-decoration: none;
}

/* map */

#Map {
  height: 100% !important;
  margin-top: 0px !important;
}

#Map iframe{
  margin: 1rem !important;
  width: 96%;
  text-align: center;
  height: 600px;
}

/* Footer */
.footer-main {
  border-top: 7px solid #ffcc00;
  background: url("../assets/images/index_footer_bg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
}

.footer-main h2 {
  color: #ebc013;
  font-family: "Lobster", cursive;
  margin: 5px 0px 10px;
  text-align: center;
}

@media (min-width: 421px) {
  .footer-main h2 {
    font-size: 45px;
  }
}

@media (max-width: 420px) {
  .footer-main h2 {
    font-size: 2.4rem;
  }
}

.footer-upper-part {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
}

@media (max-width: 510px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

@media (min-width: 511px) and (max-width: 768px) {
  .footer-host-events {
    padding: 40px 20px;
  }
}

@media (min-width: 769px) {
  .footer-host-events {
    padding: 40px 44px;
  }
}

.footer-host-events {
  display: flex;
  flex-direction: column;
}

.footer-host-events i {
  font-size: 5rem;
  color: #ebc013ad;
}

.footer-host-events h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding: 0px 0px 10px;
}

.footer-host-events li {
  list-style-type: none;
  margin-bottom: 7px;
}

.footer-host-events a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.footer-host-events li a {
  color: #fff !important;
  font-size: 16px;
}

.footer-upper-host-icons {
  display: flex;
}

.footer-upper-host-icons li {
  border-radius: 50%;
  /* background: #ebc013; */
  padding: 8px 12px;
  margin: 0px 10px 0px 0px;
}

.footer-upper-host-icons i {
  color: #fff;
  font-size: 29px;
}

.footer-mid-part {
  border-top: 1px solid grey;
}

.footer-mid-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.marquee {
  background-color: transparent;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  height: revert-layer;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: 1s scrolling;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  flex-shrink: 0;
  white-space: nowrap;
}
.marquee-content img {
  break-before: always;
  width: 40%;
}

.marquee-content p {
  width: 100%;
  position: relative;
  right: 50%;
  text-align: center;
  padding-top: 86px;
  color: #ebc013;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.marquee-content a:hover {
  color: #ebc013;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@media (max-width: 600px) {
  .marquee-content li {
    width: 50vw;
  }
  .marquee-content p {
    padding-top: 120px;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee::before,
.marquee::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::before {
  left: 0;
}

.marquee::after {
  right: 0;
}

@media (max-width: 600px) {
  .marquee::before {
    left: 0;
  }

  .marquee::after {
    right: 0;
  }
}

.footer-lower-part {
  border-top: 1px solid grey;
}

.footer-lower-part h3 {
  color: #ebc013;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
  text-align: center;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 500px) {
  .footer-contact {
    flex-direction: row;
  }
}

@media (max-width: 499px) {
  .footer-contact {
    flex-direction: column;
  }
  .footer-lower-address {
    margin-bottom: 5px;
  }
  .footer-phone {
    margin-bottom: 5px;
  }
}

.footer-lower-content {
  padding: 20px 50px;
  display: flex;
}

@media (min-width: 770px) {
  .footer-lower-content {
    flex-direction: row;
  }
}

@media (max-width: 769px) {
  .footer-lower-content {
    flex-direction: column;
  }
}

.footer-lower-content h4 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-lower-content h5 {
  color: #fff;
  font-size: 18px;
}

.footer-lower-content p {
  color: #fff;
  font-size: 16px;
}

.footer-lower-address {
  display: grid;
}

.footer-corporate {
  margin-bottom: 10px;
}

.footer-corporate h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-corporate p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-registered h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-registered p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-contact {
  display: grid;
}

.footer-phone h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-phone p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-email h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-email p {
  margin-bottom: 4px;
  line-height: 1.2;
}

.footer-lower-one {
  flex: 2;
}

.footer-lower-two {
  flex: 1;
}

@media (min-width: 770px) {
  .footer-lower-two {
    margin-top: 0px;
  }
}

@media (max-width: 769px) {
  .footer-lower-two {
    margin-top: 20px;
  }
}

.footer-lower-two img {
  width: 100%;
}

.footer-last-part {
  padding: 40px 50px;
  border-top: 1px solid grey;
}

.footer-last-main h5 {
  color: #fff;
  padding: 0px 0px 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer-last-events {
  display: flex;
  flex-wrap: wrap;
}

.footer-last-events p {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}


/* sponsor */
.edt-right{
  background-color: white;
  width: 30%;
  height: 100%;
  padding: 1rem 0rem 0rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;

}
 .edt-right h2{
font-size: 1.5rem;
text-align: center;
padding-bottom: 1.69rem;
border-bottom: 1px solid #eaeaea;
font-style: italic;
font-family: poppins;

}
.edt-box{
  width: 100%;
  height: 127px;
  background-color:#f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 0px;
  margin: 23px;

 }

/* page sharing */

.gt-page-sharing{
  color: rgb(24, 23, 23);
    font-size: 15px;
    font-weight: 600;
    padding: 0px 0px 10px;
}

.gt-social-sharing  .iconfacebook li:hover{
  background-color: #0382ed;
}
.gt-social-sharing .icontwitter li:hover{
  background-color: #55acef;
}
.gt-social-sharing .iconlinkedin li:hover{
  background-color: #0077b7;
}
.gt-social-sharing .iconinstagram li:hover{
  background-color: #fe096e;
}

.gt-title{
  font-size: 15px;
  font-family: poppins;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}
 
 .icons{
  display: flex;
  margin-left: 2rem;
  
 }

 .icons li{
  border-radius: 50%;
    /* background: #ebc013; */
    padding: 8px 12px;
    margin: 0px 10px 0px 0px;
    background-color: #a9a8b3;
 }

  .icons  li:hover{
    background-color: #fb0;
  }
.icons li a{
  text-decoration: none;
}
.icons li a i{
  color: #fff;
}


  /* event detail network */

 .icons-1{
  display: flex;
 }

 .icons-1 li{
    padding: 1px 1px;
    margin: 0px -33px 0px 0px;
    
 }

 .icons-1 li i:hover{
  color: #fb0;
 }

 .icons-1 li i{
  color: #796b6b;
 }

/* .nav-tabs .nav-link :hover{
  color: #fb0;
  background-color: #fff;
  padding-bottom: 15px;
  border-bottom: 3px solid #fb0;
}
 .nav-tabs .nav-link.active{
  color: #facf23;
  background-color: #fff;
  padding-bottom: 15px;
  border-bottom: 3px solid #fb0;
 } */


 